[2020-03-04 10:38] nebloc opened #1 "Installation command doesn't work"
Running
[code]
as the read me suggests to install results in a no such file or directory error:
[code]

I have cloned the repo and ran
[code]
successfully, just need to update the docs so people can jump in quickly 😄 look forward to using it!

[2020-03-04 14:30] ofek commented on #1
Thanks for the heads-up! This works for me (and others). What version of k8s/kubectl do you have?

[2020-03-04 19:18] nebloc commented on #1
Interesting! On Ubuntu 18.04;
[code]

On my Macbook:
[code]

[2020-03-04 19:55] ofek commented on #1
Do you get the error on both?

[2020-03-04 20:10] nebloc commented on #1
Yeah, first error was on Ubuntu (1.16.1), then when you asked about version I checked on macOS (1.16.3) and got the no matches found error above

[2020-03-04 20:23] ofek commented on #1
For mac can you try:

[code]

[2020-03-04 21:34] nebloc commented on #1
Confirmed that works on both Ubuntu and macOS :)

[2020-03-05 02:29] #1 closed

[2020-04-16 11:45] maennchen opened #3 "Dynamic PVC is not bound"
Thanks for this great project, I was waiting a long time for this :heart:

# Steps

* `kubectl create secret generic csi-gcs-secret -n default --from-literal=bucket=BUCKETNAME --from-file=key=FILENAME`
* `kubectl apply -k "github.com/ofek/csi-gcs/deploy/overlays/stable?ref=master"`
* `kubectl create namespace gcs-example`
* `kubectl create namespace gcs-example2`
* `kubectl apply -k "github.com/of

[2020-04-16 12:39] ofek commented on #3
Thanks for the kind words! Please see https://github.com/ofek/csi-gcs#dynamic-provisioning

[2020-04-16 12:43] maennchen commented on #3
@ofek

I only see mention of this:

The bucket mentioned already exists. So that should not be the problem...

(The bucket name is still taken from the secret, right?)

Btw: I'm trying to implement the create bucket functionality. How do you do the local testing / development?

[2020-04-16 12:56] ofek commented on #3
Ah okay, well I simply haven't implemented dynamic provisioning then.

For development:

1. get python 3.6+
2. `pip install invoke`
3. `inv build` (dev image name here https://github.com/ofek/csi-gcs/blob/abf292e8779c332ba69a2c58987baa08817eafb1/tasks/__init__.py#L13)
4. `kubectl apply -k deploy\overlays\dev`

[2020-04-16 14:26] maennchen commented on #3
@ofek I wrote this down with an easy setup via `minikube` for anyone trying. I'll have a look at automatic creation of the bucket now.

[2020-04-16 15:11] ofek commented on #3
Here is an example: https://github.com/ctrox/csi-s3 (this is the opposite of what we do, it _only_ dynamically provisions/creates bucket https://github.com/ctrox/csi-s3/pull/29)

Docs:

- https://github.com/container-storage-interface/spec/blob/master/spec.md
- https://kubernetes-csi.github.io/docs/

More examples (we're listed here too!):

- https://kubernetes-csi.github.io/docs/drivers.html

[2020-04-17 08:06] epalazuelosb opened #6 "Cannot mount volume with non-root user"
### Steps

- `kubectl create namespace csi-gcs`
- `kubectl create secret generic csi-gcs-secret --from-literal=bucket=my-gcs-bucket --from-file=key=./key.json --namespace csi-gcs`
- `kubectl apply -f csi-gcs-sc.yaml`

[code]

- `kubectl apply -f csi-gcs-pv.yaml`

[code]

- `kubectl apply -f csi-gcs-pvc`

[code]

### Tried to chown objects with initcontainers command

- `kubectl apply -f csi-gcs-te

[2020-04-17 11:47] maennchen commented on #6
@epalazuelosb Does it work if you specify the correct `uid`, `gid`, `dir-mode` & `file-mode` flags?

https://github.com/ofek/csi-gcs#extra-flags

[2020-04-18 22:07] #3 closed

[2020-04-18 22:08] maennchen opened #10 "Allow to set Bucket Name for Dynamic Volume"
Follow up of https://github.com/ofek/csi-gcs/pull/8#issuecomment-615958092

Maybe via annotations in PVC?

[2020-04-18 22:10] maennchen opened #11 "Add Support for Resizer"
https://kubernetes-csi.github.io/docs/external-resizer.html

This would only set the label to the new capacity since GCS does not support capacity limits.

Capacity Limit Absence should be documented in main `README`.

[2020-04-18 22:11] maennchen opened #12 "Add Support for Snapshots"
https://kubernetes-csi.github.io/docs/external-snapshotter.html

[2020-04-18 22:14] maennchen opened #13 "Add Support for VolumeContentSource"
Allow to set up volumes with a `VolumeContentSource` https://github.com/container-storage-interface/spec/blob/master/spec.md#controller-service-rpc

[2020-04-18 22:18] ofek commented on #13
Woah that's cool!

[2020-04-18 22:21] maennchen commented on #10
This is apparently not intended by the CSI team: https://github.com/kubernetes-csi/external-provisioner/issues/86

Could be read directly from the API though as recommended here: https://github.com/kubernetes-csi/external-provisioner/issues/86#issuecomment-594470291

[2020-04-18 22:26] ofek commented on #10
Ah excellent!!!

[2020-04-20 17:47] maennchen opened #15 "Fix Sanity Test for NodeUnpublishVolume"
https://github.com/ofek/csi-gcs/pull/9#issuecomment-615926780

[2020-04-20 18:52] maennchen commented on #10
CLosed in favor of #16

[2020-04-20 18:52] #10 closed

[2020-04-21 09:36] maennchen opened #17 "Docker Image Description"
It would be good if the [Docker Image Overview Page](https://hub.docker.com/r/ofekmeister/csi-gcs) had some content.

Could you add the README content there?

[2020-04-21 09:57] maennchen opened #18 "Use official CSI Release Tools"
Use official CSI [release-tools](https://github.com/kubernetes-csi/csi-release-tools) for testing / building.

[2020-04-21 11:06] epalazuelosb commented on #6
Yes, I have tried it, but still not working:

`apiVersion: v1
kind: PersistentVolume
metadata:
  name: csi-gcs-pv
  annotations:
    pv.beta.kubernetes.io/gid: "1000"
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 50Gi
  persistentVolumeReclaimPolicy: Retain
  storageClassName: csi-gcs
  csi:
    driver: gcs.csi.ofek.dev
    volumeHandle: csi-gcs
    volumeAttributes:
      uid: "

[2020-04-21 11:06] epalazuelosb commented on #6
kind: PersistentVolume
metadata:
  name: csi-gcs-pv
  namespace: liferay7
  annotations:
    pv.beta.kubernetes.io/gid: "1000"
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 50Gi
  persistentVolumeReclaimPolicy: Retain
  storageClassName: csi-gcs
  csi:
    driver: gcs.csi.ofek.dev
    volumeHandle: csi-gcs
    volumeAttributes:
      uid: "1000"
      gid: "1000"
      dir-mode:

[2020-04-21 11:13] maennchen commented on #6
@epalazuelosb  You need to set `flags`. Does this work?

[code]

[2020-04-21 11:27] epalazuelosb commented on #6
I've got a validation error in both cases:

error validating data: ValidationError(PersistentVolume.spec.csi.volumeAttributes.flags): invalid type for io.k8s.api.core.v1.CSIPersistentVolumeSource.volumeAttributes: got "array", expected "string"; if you choose to ignore these errors, turn validation off with --validate=false

But the previous one I have applied was correct:
[code]

So it looks that

[2020-04-21 11:31] maennchen commented on #6
@epalazuelosb The volume attributes you mentioned are not being read. They have no effect.

Try with this?

[code]

[2020-04-21 11:42] epalazuelosb commented on #6
Now it looks we have something:

`csi-gcs-test-8684576d4d-l8d6r	Pod	MountVolume.SetUp failed for volume "csi-gcs-pv" : rpc error: code = Internal desc = Error (code exit status 1) mounting bucket ssgs-cms-document-library-sb:
Incorrect Usage. invalid value "\"1000\"" for flag -uid: parse error

NAME:
   gcsfuse - Mount a GCS bucket locally

USAGE:
   gcsfuse [global options] bucket mountpoint

VER

[2020-04-21 11:46] epalazuelosb commented on #6
Once corrected the quotes it looks to work correctly! Let me check it

[2020-04-21 12:10] epalazuelosb commented on #6
Confirmed. The solution provided by @maennchen:

[code]

Worked correctly.

[2020-04-21 12:19] maennchen opened #19 "Setting Flags"
I think it would make sense to replace the `flags` parameter with specific config keys.

## Sources Provision

1. `PersistentVolumeClaim` / `annotations`
   - formatted like `gcs.csi.ofek.dev/foo-bar: xyz`
   - forwarded to `PersistentVolume` / `volumeContext` on `CreateVolume`
1. `StorageClass` / `parameters`
   - formatted like `gcs.csi.ofek.dev/foo-bar: xyz`
   - forwarded to `PersistentVolume`

[2020-04-21 12:24] maennchen commented on #19
To make cases like #6 clearer.

[2020-04-21 13:59] ofek commented on #17
Done!

[2020-04-21 13:59] #17 closed

[2020-04-21 14:02] ofek commented on #18
I'm on Windows, so I'd need it to support it. Does it? I quite like the current invoke tooling btw

[2020-04-21 14:04] maennchen commented on #18
@ofek I would really like it at least for the E2E tests. It seems very hard to run them otherwise.

We could keep building via invoke but use it to run the tests. What do you think?

Does the driver itself work on Windows btw?

[2020-04-21 14:06] ofek commented on #19
This makes a lot of sense, great idea!

[2020-04-21 14:12] ofek commented on #18
Sure! It only works as containerized plugin, not locally (since Windows doesn't have fuse). Docker for Win/Mac provides a Linux VM that everything actually runs in

[2020-04-21 14:15] maennchen commented on #18
@ofek How far should the Windows support go then? Only for Building the Image or also testing?

I'm asking because the official test suite including E2E contains a lot of Bash to setup a K8S Cluster correctly etc.

I like the invoke setup as well, I would prefer to stay as close to the spec & official tooling though.

[2020-04-21 14:22] ofek commented on #18
Can we run stuff in containers? Building Docker plugins doesn't work on Windows so I run `dind` https://hub.docker.com/_/docker

See https://github.com/ofek/docker-volume-gcs/blob/master/build.py

[2020-04-21 14:25] maennchen commented on #18
@ofek I think we could easily do it this way:

* Provide release tools for *NIX users (Makefile)
* Provide a `cmd`/ `bat` / whatever we need for windows that starts all of that inside docker (dind) and calls the `Makefile` in there

[2020-04-21 14:42] ofek commented on #18
Sounds good, though why not just do that all the time? Seems cleaner and more reproducible for everyone imo

[2020-04-21 14:45] maennchen commented on #18
Why not we can just expose that entrypoint script for Everyone. :)

[2020-04-21 20:12] maennchen commented on #19
Examples:

`StorageClass` with `mountOptions`

[code]

`PersistentVolumeClaim` with `Annotations`

[code]

[2020-04-21 20:16] maennchen commented on #19
`PersistentVolume` with `mountOptions`

[code]

[2020-04-22 16:34] maennchen opened #22 "Output Log of Gcsfuse to STDOUT / STDERR"

[2020-04-22 17:26] maennchen commented on #22
Replaced by #23

[2020-04-22 17:26] #22 closed

[2020-04-22 17:27] maennchen commented on #19
Replaced by #21

[2020-04-22 17:27] #19 closed

[2020-04-23 18:42] ofek commented on #6
@epalazuelosb We recently made flags more robust:

- https://ofek.dev/csi-gcs/static_provisioning/#extra-flags
- https://ofek.dev/csi-gcs/dynamic_provisioning/#extra-flags

[2020-04-23 19:15] epalazuelosb commented on #6
I have realized that the mount is not working properly:

`I0423 18:24:44.766837       1 driver.go:65] Method /csi.v1.Node/NodeUnpublishVolume completed
I0423 18:24:44.850083       1 node.go:155] Method NodeGetCapabilities called with:
I0423 18:24:44.850153       1 driver.go:65] Method /csi.v1.Node/NodeGetCapabilities completed
I0423 18:05:01.791525       1 driver.go:65] Method /csi.v1.Node/NodeGet

[2020-04-23 19:26] maennchen commented on #6
@epalazuelosb Can you enable implicit dirs?

[2020-04-23 19:42] maennchen commented on #6
@epalazuelosb https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/semantics.md#implicit-directories

[2020-04-23 19:53] ofek commented on #6
Also fyi `flags` doesn't do anything on 0.3.0+ https://github.com/ofek/csi-gcs/issues/6#issuecomment-618583021

[2020-04-24 14:41] ofek commented on #6
@epalazuelosb Any luck?

[2020-04-24 15:41] epalazuelosb commented on #6
Excuse me. No, I cannot deploy the PV:

`apiVersion: v1
kind: PersistentVolume
metadata:
  name: csi-gcs-pv
  annotations:
    pv.beta.kubernetes.io/gid: "1000"
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 50Gi
    mountOptions:
    - --uid=1000
      --gid=1000
      --dir-mode=0775
      --file-mode=0664
      --implicit-dirs="document_library"
  persistentVolumeReclaimPolicy:

[2020-04-24 16:13] ofek commented on #6
While `mountOptions` should be under `spec` like:

[code]

that shouldn't matter since `volumeAttributes` looks right and should take precedence anyway.

@maennchen Any thoughts?

[2020-04-24 16:15] maennchen commented on #6
@ofek The yml above is not valid. Will not work therefore.

[2020-04-24 16:15] ofek commented on #6
Oh, yes. @epalazuelosb try removing `mountOptions`

[2020-04-24 16:17] epalazuelosb commented on #6
Excuse, I have tried it before with the same result:

``apiVersion: v1
kind: PersistentVolume
metadata:
  name: csi-gcs-pv
  annotations:
    pv.beta.kubernetes.io/gid: "1000"
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 50Gi
    mountOptions:
    - --uid=1000
    - --gid=1000
    - --dir-mode=0775
    - --file-mode=0664
    - --implicit-dirs="document_library"
  persistentVolum

[2020-04-24 16:18] epalazuelosb commented on #6
Ok, I am trying right now

[2020-04-24 16:29] ofek commented on #6
`mountOptions` doesn't belong under `capacity`

[2020-04-24 16:34] epalazuelosb commented on #6
Now the PVC cannot be provisioned:

``
csi-gcs-pvc	PersistentVolumeClaim	waiting for a volume to be created, either by external provisioner "gcs.csi.ofek.dev" or manually created by system administrator	ExternalProvisioning	Normal	2020-04-24T16:33:14Z
``

[2020-04-24 16:36] ofek commented on #6
Try https://ofek.dev/csi-gcs/getting_started/#debugging

[2020-04-24 16:39] epalazuelosb commented on #6
``

I0424 08:27:37.603807       1 main.go:127] Calling CSI driver to discover driver name
I0424 08:27:37.603837       1 connection.go:180] GRPC call: /csi.v1.Identity/GetPluginInfo
I0424 08:27:37.603843       1 connection.go:181] GRPC request: {}
I0424 08:27:37.606007       1 connection.go:183] GRPC response: {"name":"gcs.csi.ofek.dev","vendor_version":"0.1.0"}
I0424 08:27:37.606756       1 connec

[2020-04-24 16:43] epalazuelosb commented on #6
I have patched and deleted pvc and pv and now it looks to work. Let me confirm please.

[2020-04-24 16:59] epalazuelosb commented on #6
[code]
[code]

[2020-04-24 17:21] epalazuelosb commented on #6
Found the mistake on implicitDirs flag:

[code]

Thank you for your help. Now it works correctly.

[2020-04-24 17:21] #6 closed

[2020-04-24 20:08] maennchen opened #28 "Setup E2E Tests"

[2020-04-24 20:08] maennchen commented on #18
Setting up `prow` is too much work for not enough benefit for this project.

We'll instead improve the CI (#27) and setup E2E Tests (#28).

[2020-04-24 20:08] #18 closed

[2020-04-27 18:35] maennchen commented on #11
Closed in favor of #32

[2020-04-27 18:35] #11 closed

[2020-04-27 18:37] maennchen commented on #12
For both snapshots & volume content source, files have to be synced via `gsutil rsync` (please mention better ideas :) )

I would recommend that `CreateSnapshot` and also the restoring of a snapshot / from another volume (#13) starts a `Job` with a [`gsutil`](https://github.com/GoogleCloudPlatform/cloud-sdk-docker) container that actually does the copying. The function would block until the call s

[2020-04-28 14:28] ofek commented on #12
Does the Go lib support https://cloud.google.com/storage/docs/moving-buckets#rest-copy-objects?

[2020-04-28 14:34] maennchen commented on #12
@ofek One at a time, yes....

[2020-04-28 15:30] ofek commented on #12
Should we include gsutil even though it would be large? I'm not a k8s expert but starting a job seems hacky. Is it?

[2020-04-28 15:32] maennchen commented on #12
@ofek I don't think that this would be hacky... I think that's a perfect application of K8S.

I would create a separate image only doing that and not package it into the same container.

[2020-04-28 15:33] ofek commented on #12
I mean, is it normal for a container to start another container?

[2020-04-28 15:41] maennchen commented on #12
For Operators: yes

[2020-04-28 15:43] ofek commented on #12
Hmm interesting, okay then 😄

[2020-04-30 15:38] epalazuelosb opened #33 "Unable to find PID of fuse mount"
Hi,

I have been testing the driver along this week. Today I cannot mount the volume correctly. It's mounted again as root and it does not show all the objects. After replacing csi-gcs-node pods it looks to work again, but the issue persist after the redeploy of the client pods (myapp):

[code]

[2020-04-30 15:43] epalazuelosb commented on #33
Full logs:

[code]

[2020-04-30 15:45] maennchen commented on #33
@epalazuelosb I can't see a `NodePublishVolume` event in the log...

Does the problem persist if you restart the pods that mounts the volume?

[2020-04-30 15:48] maennchen commented on #33
@epalazuelosb There's two known problems (based on the same cause) that I know of and they for sure need to be fixed before a `1.0.0` release:

1. If the `node` DaemonSet pod is restarted, the already mounted volumes are disconnected.
1. If the `gcsfuse` process dies for some reason, the mount will not recover.

To get this driver really stable, it has to restart all processes from before it start

[2020-04-30 15:49] epalazuelosb commented on #33
Yes, the restart of myapp does not work, I need to restart the csi-gcs-nodes pods to solve it.

[2020-04-30 15:50] maennchen commented on #33
@epalazuelosb Ok... that doesn't ring any bells.

@ofek Do you have an idea what could cause this?

[2020-04-30 16:20] ofek commented on #33
No, but I found https://github.com/kubernetes-sigs/alibaba-cloud-csi-driver/blob/master/docs/oss-upgrade.md

[2020-05-01 12:51] fradeve opened #35 "CrashLoopBackOff of csi-resizer on k8s 1.15.9-gke.24"
Hi all,
I have installed the driver on the k8s version specified in the title, using the following command as per tutorial ```kubectl apply -k "github.com/ofek/csi-gcs/deploy/overlays/stable?ref=master"```.

It resulted in a ```Pod errors: CrashLoopBackOff``` with the following logs:

[code]
**Update**: after waiting few minutes, the following Pods are up and running correctly:
* csi-gcs-controlle

[2020-05-01 13:35] maennchen commented on #35
@fradeve Sorry, the current `master` definition is not compatible with the released version.

Replace

[code]

with

[code]

[2020-05-01 13:56] fradeve commented on #35
Thanks for the quick reply @maennchen, much appreciated! Do you think it is worth documenting this somewhere? I apologise in advance if this was documented somewhere and I missed it :smile:

[2020-05-01 14:28] maennchen commented on #35
@fradeve Yet, we should do that. (It was not documented.)

Let's leave this issue open so that we'll update the docs.

[2020-05-03 01:57] ofek commented on #35
https://github.com/ofek/csi-gcs/pull/37

@fradeve Thanks!

[2020-05-03 12:35] maennchen commented on #35
Replaced by #37

[2020-05-03 12:35] #35 closed

[2020-05-03 12:36] maennchen commented on #33
Replaced by #36

[2020-05-03 12:36] #33 closed

[2020-05-04 14:49] fradeve commented on #35
HI @maennchen I just want to double-check something related to your previous suggestion.

After installing v.0.3.0 on GKE 1.15.9, everything worked fine with the exception of some permissions missing from the `csi-gcs-provisioner` ClisterRole.

I have fixed the problem by adding the following rule
[code]
to that ClusterRole. I can see that this rule is present in the same ClusterRole in the `maste

[2020-05-04 14:52] maennchen commented on #35
@fradeve I'm not sure I understand your question. The rule is present on master as well as on the newest tag.

[2020-05-04 14:54] ofek commented on #35
@fradeve I think that was fixed in https://github.com/ofek/csi-gcs/pull/31/files

Should we add `watch` too?

[2020-05-04 14:56] maennchen commented on #35
@ofek I don't think we need `watch`....?

[2020-05-04 14:58] ofek commented on #35
Just making sure the fix works for them 🙂

[2020-05-04 14:59] maennchen opened #45 "Leader Election"
Switch to use leader election for External Resizer & Provisioner.

This will allow us to a) do everything in the same daemonset and b) have fallbacks if one of the pods would not work as expected.

[2020-05-04 15:00] maennchen commented on #45
Example: https://github.com/kubernetes-sigs/blobfuse-csi-driver/pull/87/files

Docs for args:

* https://github.com/kubernetes-csi/external-provisioner#recommended-optional-arguments
* https://github.com/kubernetes-csi/external-resizer#recommended-optional-arguments

[2020-05-04 15:06] fradeve commented on #35
Sorry, I should have explained myself a bit better :smile:

Earlier in this thread you suggested to install v.0.3.0, which worked well. Nonetheless, it got stuck during the deployment process because in v0.3.0 the ClusterRole doesn't allow access to the secret, hence stopping the deployment.

This was indeed fixed by #31 , as pointed out by @ofek. I am not sure `watch` is needed. I wasn't aware of

[2020-05-04 15:07] ofek commented on #45
Woah that's amazing, great idea!!!

[2020-05-04 15:07] maennchen commented on #35
@fradeve :+1:

We did a lot of improvements in the latest release. My advice would therefore already change to use `v0.4.0` :)

[2020-05-05 12:10] maennchen commented on #12
Better Idea:

Instead of waiting minutes to copy small amounts of data via `gsutil`, a `TransferJob` can be created & executed via API. This should be fairly fast and needs no compute power.

https://cloud.google.com/storage-transfer/docs/reference/rest/v1/transferJobs/create

Credit @jeremyzahner

[2020-05-05 13:26] ofek commented on #12
Oh very neat. We'd just need to document how to add the required scope to a service account.

[2020-05-05 18:21] maennchen commented on #45
Replaced by #46

[2020-05-05 18:21] #45 closed

[2020-05-26 11:50] maennchen opened #48 "Pod Limits / Requests"
Having no limits / requests can lead to the pod running out of memory. This will trigger the OOMKiller which in turn damages the open mounts.

Example:

[code]

We should add `request` & `limits` therefore.

In out deployment with quite some mounts, I would recommend `200Mi` request & `500Mi` limit.

The CPU usage is very minimal, I would therefore set `0.01` core as request and `0.1` as limit.

I

[2020-05-26 20:18] maennchen commented on #48
With #49 in place, I can see the following usages:

* CPU Peak: 0.05
* CPU Average: 0.01
* Memory Peak & Average (it's quite flat in the chart): 78Mi

I would recommend the averages here as the request and 0.1 core, 500Mi limit.

[2020-05-26 20:22] maennchen commented on #48
If we go by the example driver, then the limits would be much higher:
https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/csi-smb-node.yaml

@ofek What do you prefer?

[2020-05-26 20:26] maennchen commented on #48
Replaced by #50

[2020-05-26 20:26] #48 closed

[2020-05-26 21:26] maennchen opened #51 "PublishedVolumes Garbage Collection"
If a `Node` is removed from the cluster, there'll be orphaned `PublishedVolume` entries.

To solve this, `ownerReferences` should be added pointing to the `Node` and the `DaemonSet`.

More information about the issue:
https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/

[2020-05-26 21:48] maennchen commented on #15
Replaced by #52

[2020-05-26 21:48] #15 closed

[2020-05-26 22:37] maennchen commented on #51
Replaced by #54

[2020-05-26 22:37] #51 closed

[2020-05-27 09:17] maennchen commented on #13
Tracked via #47

[2020-05-27 09:17] #13 closed

[2020-05-27 09:17] maennchen commented on #12
Tracked via #47

[2020-05-27 09:17] #12 closed

[2020-07-10 20:43] maximzhemerenko opened #56 "Pod creation stuck when used more than one mounted volumes"
Hi, thank you for this amazing repo! I use this driver in my projects and it very helps me.

But I noticed the one problem: if I use more than one gcs volumes my pod is never started, stucks in the creating state and I see the status message say that there are unmourned volume (one of two). When I use one of any volume - everything is good. When I use one volume in different pods - it working too.

[2020-07-11 03:04] ofek commented on #56
Hello! Can you show yaml?

[2020-07-11 12:12] maximzhemerenko commented on #56
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sync1to1.fullname" . }}-backend
  labels:
    {{- include "sync1to1.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas.backend }}
  selector:
    matchLabels:
      {{- include "sync1to1.selectorLabels" . | nindent 6 }}
      app.sync1to1.com/app: backend
  template:
    metadata:
      labels:
        {{- include "sync

[2020-07-11 12:15] maximzhemerenko commented on #56
I use the easiest configuration, and if I mound one volume it works) but not two. I tested, if I use not gcs volumes (Kubernetes default storage class) 2 volume mount works too

[2020-11-01 05:45] AdheipSingh opened #57 "Failed to acquire lease"
Hi Thank you  for this project :)

I have been using the following command to get started on my gke cluster
[code]
i am able to mount buckets with readwritemany on multiple pods.
What i am getting is excess info logs after i deploy the daemonset
[code]
As per my debugging **gke-my-gcp-stage-5130c341-kxmk* is a node  in my cluster.
i see this package https://github.com/kubernetes/client-go/blob/9be

[2020-11-01 09:13] maennchen commented on #57
@AdheipSingh This is the default functionality of the containers provided by k8s / csi.

You can have a look in their docs / report the issue upstream.

From this projects side, there's not too much we can do I think.

[2020-11-02 06:00] AdheipSingh commented on #57
I see makes sense, ill try to open issue upstream and try to get some insights.

Thanks @maennchen

[2020-11-02 06:09] #57 closed

[2020-11-02 11:50] AdheipSingh opened #58 "Mount Bucket Not As Root"
- When i try to mount my bucket to a path which is having Ownership of a particular USER, the bucket ( pvc ) is not able to mount saying permission denied
- I am able to mount bucket successfully but the owner ship of that path is ROOT
- I am running my process as a USER with UID 1001 , which cannot write to the bucket path since it gets mounted only as ROOT

- Is this behaviour correct that a buc

[2020-11-02 12:21] maennchen commented on #58
https://ofek.dev/csi-gcs/static_provisioning/#extra-flags

[2020-11-02 12:21] #58 closed

[2021-01-12 11:06] drzero42 opened #60 "Feature request: Workload Identity"
It does not seem that csi-gcs supports [Workload Identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity), which is a very nice feature to avoid handling secret keys and such in GKE.
It would be nice if csi-gcs could support it. It should basically just be to make the specification of a keyfile optional, and then create the client without one. The official Google libs sh

[2021-01-12 11:11] maennchen commented on #60
@drzero42 I didn't know that this is a thing. This would for sure be a great improvement.

A PR for this would be very welcome.

[2021-01-12 11:17] maennchen opened #61 "Volume Health Monitoring"
Implement https://github.com/kubernetes-csi/external-health-monitor

[2021-01-13 10:50] maennchen opened #62 "Github Actions Publish Docs"
Docs are not published (Job Skipped) even though the condition should match:

https://github.com/ofek/csi-gcs/actions/runs/482477259

[2021-01-13 10:58] maennchen commented on #62
I checked the wrong job, sorry for the noise.

[2021-01-13 10:58] #62 closed

[2021-02-07 13:13] yriveiro commented on #60
With the Workload Identity, the usage of this CSI is highly simplified indeed.

+1 for this one

[2021-04-06 21:42] fradeve opened #66 "Adding "limit-ops-per-sec" to an existing PVC"
Hi all -- thanks for bringing us this project, it's just great!

I am using v0.6.1 I have updated an existing PVC with the following annotation (`+` shows the addition):

[code]

The PVC has been correctly updated, and I killed the Pod mounting this PVC so that it has been re-mounted.
Looking at the logs in the `csi-gcs` Pod I see the following when the volume is mounted:

[code]
I can see how som

[2021-04-07 09:08] mingoooo commented on #60
@maennchen - I have a PR for this, pls have a look. #67

[2021-04-07 10:49] fradeve opened #68 "Support for GCSFuse 0.34.1"
Hi,
before everything else, thanks again for your work on this project!

Is there any plan for releasing an updated version csi-gcs that uses [v0.34.1](https://github.com/GoogleCloudPlatform/gcsfuse/releases/tag/v0.34.1) of GCSFuse? The GoogleCloudPlatform made some good progress on some outstanding issues with the upload of large files, and it would be great to take advantage of them in this proj

[2021-04-08 05:50] maennchen commented on #66
@fradeve The CSI spec (at least at the time when I was implementing this) had no notion of changing PVC params.

The CSI Node Plugin mounts as specified by the PV and not the PVC. If you change the annotation on the PVC, this sadly has no effect on the PV and we don't get a call to the Controller Plugin to update/remount the PV.

So if the spec hasn't improved in that area, I do not think that you

[2021-04-08 05:50] maennchen commented on #68
@fradeve I would gladly accept a PR for this. :+1:

[2021-04-08 09:39] fradeve commented on #66
Thanks for clarifying this :+1: Eventually I figured out that I had to re-create the PVC altogether, and that worked :+1:

[2021-04-08 09:41] fradeve commented on #68
Hi @maennchen, thanks for getting back to me on this :) Sadly we don't have the Go expertise (yet) to help with the work, but if there is anything we could help with (e.g. docs or project management) I will gladly look into it!

[2021-04-08 09:54] maennchen commented on #68
I've planned to do some work on this sometime in the future. (Update everything & implement #61 & #47)

I don't have time currently and it will take some time until I get to this.

This was the first project that I ever contributed to in go. I really recommend just trying if you can do it :)

[2021-04-09 09:04] #60 closed

[2021-04-09 14:21] ofek commented on #68
@fradeve see: https://github.com/ofek/csi-gcs/pull/63

[2021-04-09 14:34] ofek commented on #66
Can this be closed?

[2021-04-09 20:31] georok opened #69 "Disconnects on write"
I installed v0.7.0 as per the instructions (kubectl apply -k "github.com/ofek/csi-gcs/deploy/overlays/stable?ref=v0.7.0"
). After that I installed the "static" demo. I tested copying files between the /data directory and /tmp. All worked fine with "small" files in both directions( I tested with up to 140MB). When testing with two big files (1.3 GB and 1.4 GB) reading was fine (cp /data/1/* /tmp).

[2021-04-11 17:01] georok commented on #69
Doing some more research I found that it was a gcsfuse issue rather than csi-gcs one. It looks like setting --max-retry-sleep=0 solved the problem. Later on, through some googling, I found that you already discussed this issue in pull request #64 and it was confirmed by @ToxicWar that it worked.

I truly appreciate the work you have done in bringing gcsfuse support to Kubernetes, but if I can make

[2021-04-11 17:01] #69 closed

[2021-04-11 17:02] georok commented on #69
I will close the issue as it seems the parameter has resolved the problem.

thank you

[2021-04-12 08:14] maennchen commented on #66
@ofek I'd like to keep it open to see if there's a way to achieve that before I close.

[2021-04-18 02:55] ofek commented on #68
https://github.com/ofek/csi-gcs/pull/70

[2021-04-18 13:44] #68 closed

[2021-04-19 12:16] fradeve commented on #68
@ofek I owe you an apology... if I knew this was that easy, I would have done it myself and opened a PR!

[2021-04-19 16:01] ofek commented on #68
Ah no worries!

[2021-04-30 19:06] jailbreakerSN opened #71 "Unable to attach or mount volumes"
Hello,

I'm facing a issu when trying to test **csi-gcs** on GKE after creating the secret **csi-gcs-secret**
- kubectl create secret generic csi-gcs-secret --from-literal=bucket=<BUCKET_NAME> --from-file=key=<PATH_TO_SERVICE_ACCOUNT_KEY>
- kubectl apply -k "github.com/ofek/csi-gcs/examples/static?ref=v0.7.0"
The errors I got are:
- _AttachVolume.Attach failed for volume "csi-gcs-pv" : attachdetac

[2021-05-10 15:26] jailbreakerSN commented on #71
@ofek can you check please my issue?
Thanks in advance!

[2021-05-13 08:45] dysosmus commented on #71
@ofek  Then that seem different, from what I'm working on #72 :( . In my experience, the container *eventually* start after ±1-2 minutes of retries.

@jailbreakerSN is the csi-gcs driver pod is running properly on the node where your pod is running?

[2021-05-13 12:06] jailbreakerSN commented on #71
Hello @dysosmus ,
Yes, I think all is running (same namespace, same node) like the commands I specified earlier.
I put the Key and bucket Bâle correctly and ran out with kubectl

[2021-05-14 03:59] ofek commented on #69
@georok Can you try the latest version? You should no longer need that flag.

[2021-05-16 19:49] lemaral opened #76 "git tag 0.8.0 deploy kustomization.yaml still references docker tag v0.7.0"
In https://github.com/ofek/csi-gcs/blob/v0.8.0/deploy/overlays/stable/kustomization.yaml
images:
- name: docker.io/ofekmeister/csi-gcs
  newTag: v0.7.0

[2021-05-16 20:17] ofek commented on #76
Fixed, sorry about that. Thank you!!!

[2021-05-16 20:17] #76 closed

[2021-05-17 23:17] ofek commented on #71
@maennchen Do you have any ideas?

[2021-05-17 23:56] jailbreakerSN commented on #71
@ofek @dysosmus , might it be related to the status of my cluster, which is a private cluster?

[2021-05-18 09:16] dysosmus commented on #71
@jailbreakerSN could be, do your subnet where your GKE clusters node are running have [Google Private Access](https://cloud.google.com/vpc/docs/configure-private-google-access) enabled?
You can also try to spin up a GCP Cloud NAT on the subnet, but afaik that shouldn't be needed if Private Access is enabled.

[2021-05-18 09:39] maennchen commented on #71
@jailbreakerSN Can you capture the log of the `csi-gcs` DaemonSet pods while you provision a new PVC and start a pod using it?

[2021-07-19 11:42] mweibel opened #77 "StorageClass definition (static example)"
Hi,

I was looking into the examples and wondered where the storage class definition is for the static example. It references `csi-gcs-test-sc` but I couldn't find that.

I guess it sorta works also without it, but not sure.
Any pointers?

Cheers,
Michael

[2021-07-19 11:52] maennchen commented on #77
@mweibel I don't think we ever had a static example with a StorageClass since it works without it as well if you provision manually.

You should be able to reuse parts of the dynamic example: https://github.com/ofek/csi-gcs/blob/master/examples/dynamic/sc.yaml

I think this should be sufficient:

[code]

Can you try that?

If it works, a quick PR adding this file to the example dir would be very w

[2021-07-19 11:59] maennchen commented on #77
Actually, you can probably even remote the `provisioner` field since there is no provisioned being used.

[2021-07-19 12:37] mweibel commented on #77
thanks for the quick reply. Funny how one meets again ;)

see #78

[2021-07-19 12:43] maennchen commented on #77
@mweibel Yes, I thought the same thing :)

[2021-07-19 12:44] #77 closed

[2021-10-11 11:27] hprotzek opened #79 "Deployment fails on k8s 1.22.x"
Due the removal of beta apis, the deployment fails on k8s 1.22.1.

[code]

[2021-12-08 16:56] #79 closed

[2022-01-18 11:42] elamcheliyan commented on #71
@jailbreakerSN , Is this issue still present? event I want to try this in my GKE services

[2022-02-15 07:45] GezimSejdiu opened #83 "No matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1"
Hi team,

first of all thanks a lot for this great tool.

While trying to setup I'm constantly getting:
[code]
when installing it on GKE.

I did follow this guide here: https://ofek.dev/csi-gcs/getting_started/ and run:
[code]
The `kubectl version` is:
[code]

Are there any known issues while installing on GKE `v1.22.6-gke.300`? Do I need to upgrade the cluster to get it work?

Thanks a lot in adv

[2022-02-15 15:19] GezimSejdiu commented on #83
Some updates here. I made it work by replacing `apiextensions.k8s.io/v1beta1` with `apiextensions.k8s.io/v1` and `validation` with `schema` and some others as per [this definition](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition).

PS: Let me know if you want to have this as a contribution so that I can push it and

[2022-02-16 08:27] #83 closed

[2022-04-13 16:58] elamcheliyana opened #85 "How to add the gcs fuse flags"
If I want to pass the argument --implict-dirs in the gcs fuse, How do I achieve?

[2022-04-13 18:37] ofek commented on #85
- https://ofek.dev/csi-gcs/static_provisioning/#extra-flags
- https://ofek.dev/csi-gcs/dynamic_provisioning/#extra-flags

[2022-04-14 18:24] ofek commented on #85
Got it?

[2022-04-14 19:21] elamcheliyana commented on #85
I got it, Thanks for the input

[2022-04-14 19:21] #85 closed

[2022-05-12 12:42] omriarieli commented on #83
Hi, we are also facing the same issue although not yet on kubernetes 1.22 we see a warning. it would be nice if a fix can be released.

`kubectl apply -k "github.com/ofek/csi-gcs/deploy/overlays/stable?ref=v0.8.0"
Warning: apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition
customresourcedefiniti

[2022-05-14 17:24] ofek commented on #83
https://github.com/ofek/csi-gcs/releases/tag/v0.9.0

[2022-05-15 11:20] omriarieli commented on #83
thank you so much for the great work @ofek

[2022-05-15 15:45] ofek commented on #83
thank you! ❤️

[2022-06-02 14:41] arrase opened #107 "Performance tuning documentation"
I found a lack of documentation to improve performance. I'm getting I/O errors and some operations take so long to finish.
By example, i have process for update the volume content using rclone to copy some video files and a git clone/update.

I get this erros from rclone:

[code]
and the git clone fails with:
[code]
The git pull is also very slow and same for git restore. In the other side a cat o

[2022-06-07 07:02] omarsmak opened #108 "How to set stat-cache-capacity in extra flags?"
Hello folks,

I would like to configure the property `stat-cache-capacity.` of GCS fuse. However looking at here https://ofek.dev/csi-gcs/static_provisioning/#extra-flags , it seems to be not supported at the moment?

Thanks

[2022-06-07 19:41] red8888 opened #109 "Do I _have_ to specific a service account key or can I use workload id?"
I run GKE and use workload ID which lets me directly authenticate a Deployment with a GCP service account.

This is transparent to the application as log as it uses the standard credential loading mechanism (ie doesn't explicitly look for creds)

Is the application currently written to only work with a static key placed in a specific k8s secret or can it also retrieve creds implicitly in the stand

[2022-06-07 20:24] ofek commented on #109
Yes

- https://ofek.dev/csi-gcs/static_provisioning/#service-account-key
- https://pkg.go.dev/golang.org/x/oauth2/google#FindDefaultCredentials
- https://ofek.dev/csi-gcs/dynamic_provisioning/#permission

[2022-06-07 20:24] #109 closed

[2022-08-16 19:16] mimizone opened #121 "GKE Autopilot compatibility"
I see there is a GKE specific configuration file in the current code.
But looking at it, it seems not relevant anymore with the current version of GKE.

I am planning on trying it on GKE Autopilot and was looking for feedback or confirmation the current version 0.9.0 would be working, or if the config file should be updated to be compatible with the way Autopilot does CSI out of the box.

[2022-08-16 19:22] ofek commented on #121
Whatever you get to work please make a PR and I'll merge + release!

[2022-08-16 23:55] mimizone commented on #121
Initial test shows that it doesn't work and probably can't work because of the strong requirement of using kube-system, which is not accessible in Autopilot mode.

[2022-09-19 14:41] elibixby opened #127 "Allow use of k8s service accounts and workload identity for auth"
The driver should likely be configured with a k8s service account (either in PVC config or storage class config) that has permissions to the bucket via Workload Identity rather than using a key.

[2022-10-07 17:30] rhummelmose commented on #121
Doesn't autopilot prohibit us from host access? That will make it impossible to get working

[2022-10-18 21:02] praveenperera opened #133 "Set `temp-dir` with extra flags?"
I'm using a faster local SSD and I would like GCSFuse to download the temp files to that. I was wondering if I could set the `temp-dir` flag. It seems like it was possible before: https://github.com/ofek/csi-gcs/pull/21. Is this no longer possible to set now?

In this issue: https://github.com/ofek/csi-gcs/issues/19 it says its no supported because its "internal to the driver"

[2022-11-01 14:17] sshcherbakov commented on #127
+1
The Cloud SDK libraries support using Workload Identity for authentication by either contacting local metadata server when running on GCE or GKE or by accepting fleet workload identity configuration in the GOOGLE_APPLICATION_CREDENTIALS environment variable _instead_ of the json file with service account key as described [here](https://cloud.google.com/anthos/fleet-management/docs/use-workload-

[2022-11-01 15:27] ofek commented on #127
We'd happily accept a PR 🙂

[2022-11-08 23:34] lancehudson commented on #127
This doesnt work with hostNetwork

[2022-11-29 08:47] lemaral commented on #127
Is hostNetwork necessary then?